body {
	padding: 50px;
	font-size: 20px;
	font-family: 'Arial', sans-serif;
}

a {
	padding: 10px;
	background: #EFEFEF;
	text-decoration: none;
	transition: all .5s;
	color: #424242;
}

a:hover {
	background: #E6E6E6;
}