html,body {
	font-family: Arial,sans-serif;
}

.helper {
	display: none;
}

.open {
	display: block;
}

.modal-content {
	padding:20px;
}
.form-check-input {
	margin-left: 7px;
}
#btn-upd {
	margin-left: 10px;
}