@font-face {
	font-family: "SourceSansProRegular";
	src: url("fonts/SourceSansProRegular/SourceSansProRegular.eot");
	src: url("fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
	url("fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
	url("fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SourceSansProLight";
	src: url("fonts/SourceSansProLight/SourceSansProLight.eot");
	src: url("fonts/SourceSansProLight/SourceSansProLight.eot?#iefix")format("embedded-opentype"),
	url("fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"),
	url("fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
html,body {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #F0F2F1;
	font-family: "SourceSansProRegular", 'Comic Sans MS', cursive;
	font-size: 18px;
}
.header_content {
	margin: auto;
	min-width: 768px;
	max-width: 1280px;
	height: auto;
}
.wrapper_content {
	margin: auto;
	min-width: 768px;
	max-width: 1280px;
	height: auto;

}
.content {
	width: 90%;
	margin: auto;
	height: auto;
}
.full-width	{
	background-color: orange;
	background-image: -ms-linear-gradient(bottom left, #7474BF 0%, #348AC7 100%);
	background-image: -moz-linear-gradient(bottom left, #7474BF 0%, #348AC7 100%);
	background-image: -o-linear-gradient(bottom left, #7474BF 0%, #348AC7 100%);
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #7474BF), color-stop(100, #348AC7));
	background-image: -webkit-linear-gradient(bottom left, #7474BF 0%, #348AC7 100%);
	background-image: linear-gradient(to top right, #7474BF 0%, #348AC7 100%);
	height: 600px;
}
.header {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	height: 520px;
	color: white;
	font-size: 60px;
	font-family: "SourceSansProLight", 'Comic Sans MS', cursive; 
}
.top-menu {  
	height: 80px;
	color: white;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	align-items: center;
	-webkit-align-items: center;
}
.item {
	display: flex;
	display: -webkit-flex;
	padding: 10px;
	transition: .4s ease-in;
}
.item:last-child {
	margin-right: 20px;
}
.icon_top_menu {
	display: flex;
	display: -webkit-flex;
	height: 20px;
	padding: 1px;
}
.item:hover {
	background-color: rgba(255,255,255,0.2);
	transition: .4s ease-in;
}
.item a {
	text-decoration: none;
	color: white;
}
.footer {
	background-color: #4F4F4F;
	height: 200px;
}
@media screen and (max-width:767px){
	html,body {
		font-size: 8px;
	}
	.header_content {
		min-width: 320px;
		max-width: 768px;
	}
	.wrapper_content {
		min-width: 320px;
		max-width: 768px;
	}
	.full-width {
		height: 280px;
	}
	.top-menu {
		height: 40px;
	}
	.item {
		padding: 10px;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
	}
	.icon_top_menu {
		height: 10px;
	}
	.header {
		height: 240px;
		font-size: 30px;
	}
	
}
@media screen and (min-width:768px) and (max-width:991px){
	html,body {
		font-size: 14px;
	}
	.header_content {
		min-width: 768px;
		max-width: 991px;
	}
	.wrapper_content {
		min-width: 768px;
		max-width: 991px;
	}
	.full-width {
		height: 500px;

	}
	.top-menu {
		height: 45px;
	}
	.header {
		height: 455px;
		font-size: 40px;
	}
}