<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Inter-Invest</title>
	<link rel="stylesheet" href="/design/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body>
	

		<div class="full-width">
			<div class="header_content">
				<div class="top-menu">
					<div class="icon_top_menu"><img src="{{icon}}" height="100%"></div>
					<div class="item">
						<a href={{url1}}>{{item1}}</a>
					</div>
					<div class="item">
						<a href={{url2}}>{{item2}}</a>
					</div>
				</div>
				<div class="header">
					INTER INVEST
				</div>
			</div>
		</div>

	<div class="wrapper_content">
		<div class="content">
		<h2>Привет gdfмир!</h2>
		<p>Hel world. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, asperiores consectetur, neque aliquid, officia quibusdam quidem, facere ipsum aperiam quod aliquam nemo totam rerum! Suscipit vitae perspiciatis repellat, saepe doloremque.</p>
		<p>Hello world. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, asperiores consectetur, neque aliquid, officia quibusdam quidem, facere ipsum aperiam quod aliquam nemo totam rerum! Suscipit vitae perspiciatis repellat, saepe doloremque.</p>
		</div>
	</div>

	<div class="wrapper_content footer">
		<div class="content">
			Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
		</div>
	</div>
</body>
</html>